asn1crypto==0.24.0
backports.functools-lru-cache==1.6.4
boto3==1.17.112
botocore==1.20.112
cryptography==2.1.4
cycler==0.10.0
Django==1.11.29
django-cors-headers==3.0.2
django-filter==2.0.0
django-storages==1.9.1
djangorestframework==3.9.4
enum34==1.1.6
futures==3.0.5
idna==2.6
ipaddress==1.0.17
jmespath==0.10.0
keyring==10.6.0
keyrings.alt==3.0
kiwisolver==1.1.0
Markdown==3.1.1
matplotlib==2.2.5
numpy==1.16.6
pandas==0.24.2
Pillow==6.2.2
PyAudio==0.2.11
pycrypto==2.6.1
pydot==1.2.3
pydot-ng==1.0.0
pygobject==3.26.1
pyparsing==2.4.7
python-dateutil==2.8.2
pytz==2022.1
pyxdg==0.25
s3transfer==0.4.2
SecretStorage==2.3.1
six==1.16.0
subprocess32==3.5.4
tk==0.1.0
urllib3==1.26.11
wxPython==3.0.2.0
wxPython-common==3.0.2.0s
